<template>
  <div class="hello">
    <div id="webglDom" ref="webglDom"></div>
  </div>
</template>

<script>
import * as THREE from 'three'
// import { FBXLoader } from 'three/examples/jsm/loaders/FBXLoader'
// import { OBJLoader } from 'three/examples/jsm/loaders/OBJLoader'
// import { STLLoader } from 'three/examples/jsm/loaders/STLLoader'
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls'
// import Stats from 'three/examples/jsm/libs/stats.module'

// 混入
// 建筑物
import { building } from './mixin/building'

// 精灵模型
import { sprite } from './mixin/sprite'

// 添加帧动画模块
import { animationModel } from './mixin/animationModel'

// 添加音频与场景关联
import { audio } from './mixin/audio'

// 添加stl文件模型
import { stl } from './mixin/stl'

// 添加fbx文件模型
import { fbx } from './mixin/fbx'

// 文本缓存集合体
import { textGeometry } from './mixin/text'

// 添加gltf文件模型
import { gltf } from './mixin/gltf'

export default {
  name: 'ThreePage',
  mixins: [building, sprite, animationModel, audio, fbx, textGeometry, gltf, stl],
  data() {
    return {
      scene: null,
      camera: null,
      renderer: null,
      textloader: null,
      width: 0,
      height: 0,
    }
  },
  watch: {
    skyType() {
      this.addSkeyBox();
    }
  },
  mounted() {
    this.$nextTick(this.init);
  },
  methods: {
    init() {
      // 初始化画布宽高
      const container = this.$refs.webglDom;
      this.width = container.offsetWidth;
      this.height = container.offsetHeight;

      // 场景
      this.scene = new THREE.Scene();
      // this.scene.fog = new THREE.Fog(0x005577, 1, 4000)
      this.textloader = new THREE.TextureLoader();

      // 天空图
      var path = "../assets/"; //设置路径
      var format = '.jpg'; //设定格式
      var urls = [
        require('../assets/dark-s_px.jpg'), require('../assets/dark-s_px.jpg'),
        require('../assets/dark-s_px.jpg'), require('../assets/dark-s_px.jpg'),
        require('../assets/dark-s_px.jpg'), require('../assets/dark-s_px.jpg')
      ];
      var textureCube = new THREE.CubeTextureLoader().load(urls);

      this.scene.background = textureCube; //作为背景贴图

      // 相机
      this.camera = new THREE.PerspectiveCamera(45, this.width / this.height, 0.01, 300000);
      this.camera.position.set(3000, 1000, 200);
      this.add(this.camera);
      this.camera.lookAt(this.scene.position);

      // AxesHelper
      let axisHelper = new THREE.AxesHelper(100, 100);
      this.add(axisHelper);

      // 添加灯光
      this.addLight();
      this.addBox();

      // 渲染器
      this.renderer = new THREE.WebGLRenderer({
        antialias: true
      })

      // three.js 的色彩空间渲染方式
      // this.renderer.outputEncoding = THREE.sRGBEncoding;

      this.renderer.setClearColor(new THREE.Color('#000000'), 1);
      this.renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
      this.renderer.setSize(this.width, this.height);
      document.getElementById("webglDom").appendChild(this.renderer.domElement);

      // OrbitControls
      new OrbitControls(this.camera, this.renderer.domElement);
      this.render();

      this.initOnWindowResize()

      // 添加建筑物
      this.addAllBuildings()

      // 添加精灵模型
      this.addAllSprites()

      // 添加帧动画模型
      // this.addAllAnimationModels()

      // 添加音频与场景关联
      this.addAllAudios()

      // 添加stl文件模型
      // this.addAllStls()

      // 添加fbx文件模型
      this.addAllFbxs()

      // 文本缓存集合体
      // this.addAllTexts()

      // 添加gltf文件模型
      // this.addAllGltfs()
    },

    // 添加模型
    addBox() {
      // 模型一(地面)
      const geometry = new THREE.BoxBufferGeometry(6300, 70, 6300);
      const material = new THREE.MeshPhongMaterial({
        color: 0xff0000
      });

      // 创建纹理加载器实例
      let loader = new THREE.TextureLoader();

      let texture1 = loader.load(require('../assets/building.jpg'))
      let left = new THREE.MeshBasicMaterial({ map: texture1, side: THREE.DoubleSide });
      let right = new THREE.MeshBasicMaterial({ map: texture1, side: THREE.DoubleSide });
      let top = new THREE.MeshLambertMaterial({ map: texture1 });
      let bottom = new THREE.MeshBasicMaterial({ map: texture1, side: THREE.DoubleSide });
      let front = new THREE.MeshBasicMaterial({ map: texture1, side: THREE.DoubleSide });
      let back = new THREE.MeshBasicMaterial({ map: texture1, side: THREE.DoubleSide });

      const mesh = new THREE.Mesh(geometry, [left, right, top, bottom, front, back]);
      mesh.position.set(0, -200, 0)
      this.add(mesh);
    },

    // 添加场景光
    addLight() {
      // 环境光
      const light = new THREE.AmbientLight(0xffffff, 0.5); // soft white light
      this.add(light);

      // // 平行光源
      const directionalLight = new THREE.DirectionalLight(0xffffff, 1);
      directionalLight.position.set(200, 600, 200);
      this.add(directionalLight);
    },

    // 往场景中添加模型
    add(obj) {
      this.scene.add(obj);
    },

    // 渲染模型
    render() {
      this.renderer.render(this.scene, this.camera);
      requestAnimationFrame(this.render);
    },

    // 浏览器窗口尺寸变化
    initOnWindowResize() {
      window.addEventListener('resize', function () {
        this.camera.aspect = window.innerWidth / window.innerHeight
        this.camera.updateProjectionMatrix()
        this.renderer.setSize(window.innerWidth, window.innerHeight)
      }, false)
    }
  }

}
</script>

<style scoped lang='scss'>
.hello {
  width: 100%;
  height: 100%;
  overflow: hidden;

  #webglDom {
    width: 100%;
    height: 100%;
  }
}
</style>
